<div class="principal">
  <header class="header">
    <img class="col-2 img-carteira" src="../assets/frame-header.png" alt="carteira">
    <img class="col-2 logo-atma" src="../assets/logo-atma.png" alt="ATMA">
  </header>

  <div class="text-carteira">
    <h1>Aproveite condições especiais e fique em dia com a <span class="green">Renner*</span></h1>
    <h1>Confira como é simples renegociar suas dívidas:</h1>
  </div>

  <div class="list-button">
    <div class="btns">
      <div class="mt-4">
        <img src="" alt="">
        <button (click)="redirect('site')">Negocie Online.</button>
      </div>
<!--       <div>
        <img src="../assets/cell-blue.png">
        <button (click)="redirect('app')">Negocie no APP</button>
      </div> -->
      <div>
        <img src="../assets/whatsapp.png">
        <button (click)="redirect('whatsapp')">Fale conosco no WhatsApp.</button>
      </div>
      <div>
        <img src="../assets/chat.png">
        <button (click)="redirect('chat')">Fale agora no Chat.</button>
      </div>
      <div>
        <img src="../assets/cell-two.png">
        <button (click)="modalOne()">Nós te ligamos agora.</button>
      </div>
      <div class="mb-4">
        <img src="../assets/cell-two.png">
        <button (click)="modalTwo()">Agende para te ligarmos.</button>
      </div>
    </div>
  </div>


  <footer >
    <div class="img-bottom">
      <img class="col-2" src="../assets/frame-bottom.png" alt="">
    </div>
    <div class="footer">
      <img class="col-1" src="../assets/logo_renner .png" alt="Renner">
    </div>
  </footer>
</div>
